@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Neutral */
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  /* Red */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* Gradients */
  --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
}

.btn {
  @apply transition px-4 pt-1 pb-1 bg-white rounded-full border-neutral-600 text-[20px] font-normal dark:border dark:border-(--neutral-0);
  @apply cursor-pointer hover:bg-(--neutral-100) focus:outline-none focus:ring-2 focus:ring-red-700 dark:text-(--neutral-0) dark:bg-(--neutral-700);
}

.active {
  background: var(--red-700);
  color: var(--neutral-0);
  @apply dark:text-(--neutral-900) dark:bg-(--red-400) dark:border-(--neutral-900);
}